{% extends  './layout.html' %}


{% block menu %}
    {% with messages=get_flashed_messages() %}
        {% if messages %}
                {% if messages[0].menu==1 %}
                    <div id="informacion" class="container" style="padding: 50px 100px 50px 100px; display: block;">
                        <div class="row">
                            <!-- <div class="col-5" style="background-color: aqua;"> -->
                            <div class="col-5">
                                <img src="../static/images/img_Logo.png"  align="center" style="max-width:100%;">
                            </div>
            
                            <div class="col-2" >
                                <!-- Espacio de separación -->
                            </div>
                            <div class="col-5 align-self-center">
                                <p>    
                                <h2 class="text-center">Información</h2>
                                    MT Analizer es una aplicación web que se encarga
                                    de escanear el trafico de red existente en busqueda
                                    algun conflicto provocado por el trafico de red malicioso.
                                    <br><br>
                                </p>
                                <a href="/menu/3/1" style="color: inherit; text-decoration: none; vertical-align: middle;" >
                                    <div class="zoomCentral" align="center">
                                        <button type="button" class="btn btn-outline-primary">Escanear red</button>
                                    </div>
                                </a>
                                <!-- <button id="send">Send</button>
                                <script>$('#send').on('click', function() {
                                    console.log('data')
                                   })</script> -->
                            </div>
                        </div>
                    
                    </div>
                {% endif %}
            {% if messages[0].menu==2 %}
                    <div id="contactos" class="container" style="padding: 50px 100px 50px 100px;">
                        <div class="row">
                        <div class="col-5" >
            
                            <img src="../static/images/logo_1.jpg"  align="center" style="max-width:100%; aspect-ratio: auto;">
                        </div>
            
                        <div class="col-2" >
                            <!-- Espacio de separación -->
                        </div>
                        <div class="col-5 align-self-center">
                            <a href="#" style="color: inherit; text-decoration: none; vertical-align: middle;" >
                                <h2 class="text-center">Equipo de desarrollo</h2>
                                
                                <br>
                                <h5 class="text-center"><strong>John Ponce</strong></h5>
                                <h6 class="text-center">Desarrollador</h6>
                                <h6 class="text-center">0912345678</h6>
            
                                <br>
                                <h5 class="text-center"><strong>Luigi Villarreal</strong></h5>
                                <h6 class="text-center">Desarrollador</h6>
                                <h6 class="text-center">0912345678</h6>
                                
                            </a>
                        </div>
                        </div>
                    
                    </div>
            {% endif %}
            {% if messages[0].menu==4 %}
            
            <div id="contactos" class="container" style="padding: 50px 10px 50px 10px;">
                <div class="card w-90 h-95" style="height: 25rem;">
                    <div class="card-body">
                <h4 style="text-align: center;padding: 3px;">Historial de análisis</h4>
                
                    <table class="table table-bordered" >
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Inicio</th>
                            <th scope="col">Fin</th>
                            <th scope="col">Resultado</th>
                            <th scope="col">Estado</th>
                        </tr>
                        </thead>
                        <tbody>
                        {%for i in messages[0].list_analisis %}
                            <tr>
                                <th scope="row" style="text-align: center;">{{i.id}}</th>
                                <td style="text-align: center;"> {{i.fechaInicio}} </td>
                                <td style="text-align: center;"> {{i.fechaFin}} </td>
                                <td style="text-align: center;"> {{i.resultado}} 
                                    {% if  i.resultado =='Protegido' %}
                                    &nbsp;&nbsp;<i class="far fa-check-circle fa-lg" style="color: green; "></i>
                                    {% else %}
                                    &nbsp;&nbsp;<i class="far fa-times-circle fa-lg" style="color: red; "></i>
                                    {% endif %}

                                </td>
                                <td style="text-align: center;"> {{i.estado}} </td>
                            </tr>
                        {%endfor%}
                        
                        </tbody>
                    </table>
                
            </div>
            </div>
            </div>
            {% endif %}
            {% if messages[0].menu==3 %}
                    <div id="analisis" class="container" style="padding: 50px 100px 50px 100px;">
                        <div class="row" >
                
                            <div class="col-12 ">
                                <div class="card w-90 h-95 card  mt-3 mb-3 mr-3">
                                    <div class="card-header">
                                        <h5 class="card-title">Analisis de tráfico malicioso</h5>
                                    </div>
                                    <div class="card-body " id="inside">
                                        {% if messages[0].analisisMenu==1 %}
                                        <div class="card text-center ">
                                            <div class="card-body">
                                                <p class="card-text">Presione Iniciar para comenzar análisis.</p>
                                                <form action="/reviewInterfaces/3/2" method="POST">
                                                    <button id=test class="btn btn-primary" type="submit">Iniciar</button>
                                                </form>
                                            </div>
                    
                                        </div>
                                        <div class="card mt-3 " style="height: 75%;">
                                            <div>
                                                <br>
                                                <h6 class="card-title text-center ">Información</h6>
                                                <br>
                                                <br>
                                                <p class="card-text text-center " style="color: gray;">No existe Información</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>         
            {% endif %}
            
            {% if messages[0].analisisMenu==2 %}
                                        <div class="card text-center ">
                                            <div class="card-header">
                                                <h3 class="card-title" align="center" >Seleccione una interfaz</h3>
                                            </div>
                                        </div>
                                        <div class="card mt-3 " style="height: 75%;">
                                            <div class="row">
                                                <!-- {{messages}} -->
                                    
                                                <div class="card-body">
                                                    <ul class="list-group">
                                                    
                                                    {% for dat in messages[0].interfaces %}
                                                    <a href="/background_process_test/{{dat.id}}/3/3" value="2" class="list-group-item list-group-item-action">- {{dat.dato}}</a>
                                                    {% endfor %}
                                
                                                    </ul>
                                                </div>
                                    
                                            </div>
                                        </div>
            {% endif %}
            {% if messages[0].analisisMenu==3 %}
                                        <div class="card text-center ">
                                            <div class="card-header">
                                                <h5 class="card-title" align="center" >ANÁLISIS EN PROCESO</h5>
                                            </div>
                                        </div>
                                        

                                        <div class="card-body">
                                            <p class="card-text" >Presione RESULTADOS para continuar.</p>
                                            <form action="/cancelar/{{messages[0].task}}/3/4/{{messages[0].puerto}}">
                                                <button id=test class="btn btn-primary" type="submit">Resultados</button>
                                            </form>
                                        </div>
                                        <p id="results">Resultado: Protegido</p>
                                        <table class="table table-bordered">
                                            <thead class="thead-dark">
                                              <th scope="col">Fecha</th>
                                              <th scope="col">Puerto</th>
                                              <th scope="col"scope="col">Evento</th>
                                            </thead>
                                            <tbody id="cuerpo">
                                            </tbody>
                                          </table>
                                        <script>
                                            $('#results').ready(function() {
                                                var socket = io.connect();
                                                socket.on("updateSensorData", function (msg) {
                                                    console.log(msg)
                                                    /*msg.forEach(element => {
                                                        console.log(element)
                                                        console.log("Received sensorData :: " + element.puerto + " :: " + element.tipo);
                                                    });*/
                                                    if(msg.length>0){
                                                    $("#results").html("");
                                                    $("#results").append('Resultado: Actividad sospechosa detectada' )
                                                    }
                                                    $("#cuerpo").html("");
                                                    
                                                    //let numFB=countFB(msg)
                                                    
                                                    
                                                    for(var i=0; i<msg.length; i++){
                                                        if(msg[i].tipo!='Web Attack Brute Force'){
                                                        var tr = `<tr>
                                                        <td>`+msg[i].fecha+`</td>
                                                        <td>`+msg[i].puerto+`</td>
                                                        <td>`+msg[i].tipo+`</td>
                                                        </tr>`;
                                                        $("#cuerpo").append(tr)}

                                                    }

                                                    let count=0;
                                                    let num=-1;
                                                    for(var i=0; i<msg.length; i++){
                                                        if(msg[i].tipo=='Web Attack Brute Force'){
                                                            count++;
                                                            if(num==-1){
                                                            num=i;}
                                                        }
                                                    }
                                                    if (count>10){
                                                        var tr = `<tr>
                                                        <td>`+msg[num].fecha+`</td>
                                                        <td>`+msg[num].puerto+`</td>
                                                        <td>`+msg[num].tipo+`</td>
                                                        </tr>`;
                                                        $("#cuerpo").append(tr)
                                                    }
                                                    
                                                   /* for(let i : msg){
                                                        console.log(i)
                                                        console.log("Received sensorData :: " + i.puerto + " :: " + i.tipo);
                                                    }*/        
                                                    /*console.log("Received sensorData :: " + msg);
                                                    const ctx = document.getElementById("message");
                                                    ctx.append(msg)*/
                                                    
                                                });
                                            });
                                        </script>
                        
            {% endif %}
            {% if messages[0].analisisMenu==4 %}
                                        <div class="card text-center ">
                                            <div class="card-header">
                                                <h5 class="card-title" align="center" >RESULTADOS</h5>
                                            </div>
                                        </div>
                                        <div class="card mt-3 " style="height: 75%;">
                                            <div class="row">
                                                <!-- {{messages[0].analisis}}

                                                {{messages[0].analisis[0]}}
                                                {{messages[0].analisis[0].nombre}}
                                                {{messages[0].analisis[1].nombre}} -->
                                                <div class="card-body">
                                                    <p class="card-text">Fecha y hora:  {{messages[0].fecha}}</p>
                                                    <p class="card-text">Total de paquetes analizados:  {{messages[0].paquetes}}</p>
                                                    <br>

                                                    <p class="card-text">Detalle análisis</p>
                                                    <br>

                                                    <p class="card-text">Nombre:                {{messages[0].analisis[0].nombre}}</p>
                                                    <p class="card-text">Cantidad encontrada:   {{messages[0].analisis[0].Cantidad}}</p>
                                                    <br><br>

                                                    <p class="card-text">Nombre:                {{messages[0].analisis[1].nombre}}</p>
                                                    <p class="card-text">Cantidad encontrada:   {{messages[0].analisis[1].Cantidad}}</p>
                                                    <br><br>

                                                    <p class="card-text">Nombre:                {{messages[0].analisis[2].nombre}}</p>
                                                    <p class="card-text">Cantidad encontrada:   {{messages[0].analisis[2].Cantidad}}</p>
                                                    <br><br>

                                                    
                                                    <form action="/reviewInterfaces/3/2" method="POST">
                                                        <button id=test class="btn btn-danger" type="submit" onclick="location.reload()">Cancelar</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
            {% endif %}
                                        
                                    </div>
                                </div>
                            </div>
                    
                        </div>
                    </div>
        {% endif %}
        {% else %}
                    <div id="informacion" class="container" style="padding: 50px 100px 50px 100px; display: block;">
                        <div class="row">
                            <!-- <div class="col-5" style="background-color: aqua;"> -->
                            <div class="col-5">
                                <img src="../static/images/img_Logo.png"  align="center" style="max-width:100%;">
                            </div>
            
                            <div class="col-2" >
                                <!-- Espacio de separación -->
                            </div>
                            <div class="col-5 align-self-center">
                                <p>
                                    <h2 class="text-center">Información</h2>
                                    MT Analizer es una aplicación web que se encarga
                                    de escanear el flujo de paquetes de una red en busqueda
                                    algun conflicto provocado por el tráfico de red malicioso.
                                    <br><br>
                                </p>
                                <a href="/menu/3/1" style="color: inherit; text-decoration: none; vertical-align: middle;" >
                                    <div class="zoomCentral" align="center">
                                        <button type="button" class="btn btn-outline-primary">Escanear red</button>
                                    </div>
                                </a>
                            </div>
                        </div>
                    
                    </div>

        {% endif %}
    {% endwith %}
{% endblock %}
{% block card1 %}
    <p class="card-text">Presione Iniciar para comenzar análisis.</p>
    <form action="/reviewInterfaces" method="POST">
        <button id=test class="btn btn-primary" type="submit">Iniciar</button>
    </form>
{% endblock %}


        
