{% extends  './layout.html' %}


{% block menu %}
    {% with messages=get_flashed_messages() %}
        {% if messages %}
                {% if messages[0].menu==1 %}
                    <div id="informacion" class="container" style="padding: 50px 100px 50px 100px; display: block;">
                        <div class="row">
                            <!-- <div class="col-5" style="background-color: aqua;"> -->
                            <div class="col-5">
                                <img src="../static/images/img_Logo.png"  align="center" style="max-width:100%;">
                            </div>
            
                            <div class="col-2" >
                                <!-- Espacio de separación -->
                            </div>
                            <div class="col-5 align-self-center">
                                <p>    
                                <h2 class="text-center">Información</h2>
                                    MT Analyzer es una aplicación web que se encarga
                                    de escanear el trafico de red existente en busqueda
                                    algun conflicto provocado por el trafico de red malicioso.
                                    <br><br>
                                </p>
                                <a href="/menu/3/1" style="color: inherit; text-decoration: none; vertical-align: middle;" >
                                    <div class="zoomCentral" align="center">
                                        <button type="button" class="btn btn-outline-primary">Escanear red</button>
                                    </div>
                                </a>
                                <!-- <button id="send">Send</button>
                                <script>$('#send').on('click', function() {
                                    console.log('data')
                                   })</script> -->
                            </div>
                        </div>
                    
                    </div>
                {% endif %}
            {% if messages[0].menu==2 %}
                    <div id="contactos" class="container" style="padding: 50px 100px 50px 100px;">
                        <div class="row">
                        <div class="col-5" >
            
                            <img src="../static/images/logo_1.jpg"  align="center" style="max-width:100%; aspect-ratio: auto;">
                        </div>
            
                        <div class="col-2" >
                            <!-- Espacio de separación -->
                        </div>
                        <div class="col-5 align-self-center">
                            <a href="#" style="color: inherit; text-decoration: none; vertical-align: middle;" >
                                <h3 class="text-center"><strong>PROYECTO ESPE-CERT</strong></h3>
                                <br>
                                <div>
                                <h4 class="text-center"><strong>Director del Proyecto</strong></h4>
                                <h5 class="text-center">PhD. Walter Fuertes</h5>
                
                                </div>
                                <br>
                                <div>
                                    <h4 class="text-center"><strong>Operador</strong></h4>
                                    <h5 class="text-center">Ing.Marco Bonilla Mgtr.</h5>
                                    <h6 class="text-center">mabonilla3@espe.edu.ec</h6>
                                </div>
                                <br>
                                <h4 class="text-center"><strong>Equipo de desarrollo</strong></h4>
                                
                                <br>
                                <h5 class="text-center">John Ponce</h5>
                                <h6 class="text-center">jfponce1@espe.edu.ec</h6>
            
                                <br>
                                <h5 class="text-center">Luigi Villarreal</h5>
                                <h6 class="text-center">ldvillarreal@espe.edu.ec</h6>
                                
                            </a>
                        </div>
                        </div>
                    
                    </div>
            {% endif %}
            {% if messages[0].menu==5 %}
            
            <div id="parametros" class="container" style="padding: 50px 10px 50px 10px;">
                <div class="card">
                    <div class="card-header">
                    <h4 style="text-align: center;padding: 3px;">Configuración</h4>
                </div>
                </div>
                <div class="card w-90 h-95" style="height: 25rem;">
                    <div class="card-body">
                    {% if messages[0].analisisMenu==1 %}
                    
                        <table class="table table-bordered" >
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Valor</th>
                                <th scope="col">Acción</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in messages[0].param %}
                                <tr>
                                    <th scope="row" style="text-align: center;">{{i.nombre}}</th>
                                    <td style="text-align: center;"> {{i.descripcion}} </td>
                                    <td style="text-align: center;"> {{i.valor}} </td>
                                    <td style="text-align: center;"> <a href="/menu_param/5/2/{{i.id}}" >Editar
                                        <i class="fas fa-pencil" style="color: orange;"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            
                            </tbody>
                        </table>
                    {% endif %}
                    {% if messages[0].analisisMenu==2 %}
                        <h4 style="text-align: center;padding: 3px;">Editar parámetro</h4>
                        <form action="/save_parameter/5/1/{{messages[0].param.id}}" method="POST">
                            <div class="form-group row">
                                <label for="name" class="col-sm-2 col-form-label">Nombre:</label>
                                <div class="col-sm-10">
                                    <!-- <p style="margin-top: 6px;" name="nombre">{{messages[0].param.nombre}}</p> -->
                                  <input type="text" class="form-control" id="name" name="name" disabled="true" style="color: black;" placeholder="Nombre" value="{{messages[0].param.nombre}}">
                                </div> 
                            </div>
                            <div class="form-group row">
                              <label for="description" class="col-sm-2 col-form-label">Descripción</label>
                              <div class="col-sm-10">
                                <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3" placeholder="descripción" style="color: black;">{{messages[0].param.descripcion}}</textarea>
                                <!-- <input type="text" class="form-control" style="color: black;" id="inputPassword3" placeholder="Password" value="{{messages[0].param.descripcion}}"> -->
                              </div>
                            </div>
                            <div class="form-group row">
                                <label for="email" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                  <input type="email" class="email" id="email" name="email" placeholder="Email" value="{{messages[0].param.valor}}" >
                                </div>
                            </div>
                            <div class="form-group row" style="float: right;margin-top: 4rem;">
                                <div class="zoomCentral">
                                <input type="submit" class="btn btn-primary" id="send-signup" name="signup"   value="Registrar" />
                                </div>
                                <p>&nbsp;&nbsp;&nbsp;</p>
                                <a href="/menu/5/1" style="color: inherit; text-decoration: none; vertical-align: middle;" >
                                    <div class="zoomCentral">
                                        <button type="button" class="btn btn-primary">Regresar</button>
                                    </div>
                                </a>
                                <p>&nbsp;&nbsp;</p>
                            </div>
                            
                            
                        </form>
                       <!--  <form action="" method="post">
                            <label for="name">Nombre: </label>
                            <input type="text" id="name" name="name" /><br>
                            <label for="description">Descripción: </label>
                            <input type="description" id="description" name="description" /><br>
                            <label for="email">Email: </label>
                            <input type="text" id="email" name="email" /><br>
                            <input type="submit" id="send-signup" name="signup" value="Registrar" />
                        </form> -->
                    {% endif %}
                    </div>
            </div>
            </div>
            {% endif %}
            {% if messages[0].menu==4 %}
            
            <div id="contactos" class="container " style="padding: 50px 10px 50px 10px;">
                <div class="card">
                <div class="card-header">
                    <h4 style="text-align: center;padding: 3px;">Historial de análisis</h4>
                </div>
            </div>
                {% if messages[0].analisisMenu==1 %}    
                <div class="card w-90 h-95" style="height: 25rem;">
                    <div class="card-body overflow-auto">
                    <table class="table table-bordered " >
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Inicio</th>
                            <th scope="col">Fin</th>
                            <th scope="col">Resultado</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {%for i in messages[0].param %}
                            <tr>
                                <th scope="row" style="text-align: center;">{{i.id}}</th>
                                <td style="text-align: center;"> {{i.fechaInicio}} </td>
                                <td style="text-align: center;"> {{i.fechaFin}} </td>
                                <td style="text-align: center;"> {{i.resultado}} 
                                    {% if  i.resultado =='Protegido' %}
                                    &nbsp;&nbsp;<i class="far fa-check-circle fa-lg" style="color: green; "></i>
                                    {% else %}
                                    &nbsp;&nbsp;<i class="far fa-times-circle fa-lg" style="color: red; "></i>
                                    {% endif %}

                                </td>
                                <td style="text-align: center;"> {{i.estado}} </td>
                                <td style="text-align: center;"> 
                                    {% if  i.resultado =='Protegido' %}
                                    <i class="fas fa-eye" style="color: gray;"></i>
                                    {% else %}
                                    <div class="zoomCentral">
                                    <a href="menu_param/4/2/{{i.id}}"><i class="fas fa-eye"></i></a>
                                    </div>
                                    {% endif %}
                                </td>
                            </tr>
                        {%endfor%}
                        
                        </tbody>
                    </table>
                </div>
            
            </div>
                {% endif %}
                {% if messages[0].analisisMenu==2 %}
                <div class="card w-90 h-95" style="height: 25rem;">
                    <div class="card-body overflow-auto">
                    <table class="table table-bordered" >
                        <thead class="thead-dark" >
                            <tr>
                                <th scope="col">Fecha</th>
                                <th scope="col">Puerto origen</th>
                                <th scope="col">Puerto destino</th>
                                <th scope="col">Ip origen</th>
                                <th scope="col">Ip destino</th>
                                <th scope="col"scope="col">Evento</th>
                            </tr>
                        </thead>
                        <tbody id="cuerpo">
                            {%for i in messages[0].param %}
                            <tr>
                                <td>{{i.fecha}}</td>
                                <td>{{i.puerto_origen}}</td>
                                <td>{{i.puerto_destino}}</td>
                                <td>{{i.ip_origen}}</td>
                                <td>{{i.ip_destino}}</td>
                                <td>{{i.tipo}}</td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            
            </div>
            <form action="/menu/4/1" style="padding: 1%;">
                <button id=test class="btn btn-primary" type="submit" style="float: right;">Regresar</button>
            </form>
                {% endif %}
                
            
            
            </div>
            {% endif %}
            {% if messages[0].menu==3 %}
                    <div id="analisis" class="container" style="padding: 50px 100px 50px 100px;">
                        <div class="row" >
                
                            <div class="col-12 ">
                                <div class="card w-90 h-95 card  mt-3 mb-3 mr-3">
                                    <div class="card-header">
                                        <h5 class="card-title">Analisis de tráfico malicioso</h5>
                                    </div>
                                    <div class="card-body " id="inside">
                    {% if messages[0].analisisMenu==1 %}
                                        <div class="card text-center ">
                                            <div class="card-body">
                                                <p class="card-text">Presione Iniciar para comenzar análisis.</p>
                                                <form action="/reviewInterfaces/3/2" method="POST">
                                                    <div class="zoomCentral">
                                                        <button id=test class="btn btn-primary" type="submit">Iniciar</button>
                                                    </div>
                                                </form>
                                            </div>
                    
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>         
                    {% endif %}
            
                    {% if messages[0].analisisMenu==2 %}
                                        <div class="card text-center ">
                                            <div class="card-header">
                                                <h4 class="card-title" align="center" >Seleccione una interfaz</h4>
                                            </div>
                                        </div>
                                        <div class="card mt-3 " style="height: 75%;">
                                            <div class="row">
                                                <!-- {{messages}} -->
                                    
                                                <div class="card-body">
                                                    <ul class="list-group">
                                                    
                                                    {% for dat in messages[0].interfaces %}
                                                    <a href="/background_process_test/{{dat.id}}/3/3" value="2" class="list-group-item list-group-item-action" style="padding: 3px;">- {{dat.dato}}</a>
                                                    {% endfor %}
                                
                                                    </ul>
                                                </div>
                                    
                                            </div>
                                        </div>
                    {% endif %}
                    {% if messages[0].analisisMenu==3 %}
                    <div class="container">
                                        <div class="card text-center ">
                                            <div class="card-header">
                                                <h5 class="card-title" align="center" >ANÁLISIS EN PROCESO</h5>
                                            </div>
                                        </div>
                                        <br>
                                        <p class="card-text" >Escaneado... </p>
                                        <img src="{{url_for('static', filename='Search.gif')}}"  style="padding: 2%;" alt="">
                                        <br>
                                        <br>
                                        <p id="results">Resultado: <span id="result" style="color: green;">Protegido</span></p>
                                        <table class="table table-bordered" style="font-size: 12px;visibility: hidden;" id="tableAtack">
                                            <thead class="thead-dark" >
                                              <th scope="col">Fecha</th>
                                              <th scope="col">Puerto origen</th>
                                              <th scope="col">Puerto destino</th>
                                              <th scope="col">Ip origen</th>
                                              <th scope="col">Ip destino</th>
                                              <th scope="col"scope="col">Evento</th>
                                            </thead>
                                            <tbody id="cuerpo">
                                            </tbody>
                                          </table>
                                        <form action="/cancelar/{{messages[0].task}}/3/4/{{messages[0].puerto}}">
                                            
                                                <button id=test class="btn btn-primary" type="submit" style="float: right;">Finalizar</button>
                                            
                                        </form>
                                        <script>
                                            $('#results').ready(function() {
                                                var socket = io.connect();
                                                socket.on("updateSensorData", function (msg) {
                                                    let detected=false;
                                                    console.log(msg)
                                                    /*msg.forEach(element => {
                                                        console.log(element)
                                                        console.log("Received sensorData :: " + element.puerto + " :: " + element.tipo);
                                                    });*/            
                                                    //Limpieza de tabla
                                                    $("#cuerpo").html("");
                                                    //Atack 
                                                    for(var i=0; i<msg.length; i++){
                                                        if(msg[i].tipo!='Web Attack Brute Force' && msg[i].tipo!='DOS Atack'){
                                                        var tr = `<tr>
                                                        <td>`+msg[i].fecha+`</td>
                                                        <td>`+msg[i].puerto_origen+`</td>
                                                        <td>`+msg[i].puerto_destino+`</td>
                                                        <td>`+msg[i].ip_origen+`</td>
                                                        <td>`+msg[i].ip_destino+`</td>
                                                        <td>`+msg[i].tipo+`</td>
                                                        </tr>`;
                                                        $("#cuerpo").append(tr)
                                                        detected=true;
                                                    }
                                                    }

                                                    let count=0;
                                                    let num=-1;
                                                    let countDos=0
                                                    let numDos=-1;
                                                    for(var i=0; i<msg.length; i++){
                                                        if(msg[i].tipo=='Web Attack Brute Force'){
                                                            count++;
                                                            if(num==-1){
                                                            num=i;
                                                            }
                                                        }
                                                        if(msg[i].tipo=='DOS Atack'){
                                                            countDos++;
                                                            if(numDos==-1){
                                                                numDos=i;
                                                            }
                                                        }
                                                    }
                                                    console.log('Count:'+count)
                                                    if (count>10 ){
                                                        var tr = `<tr>
                                                        <td>`+msg[num].fecha+`</td>
                                                        <td>`+msg[num].puerto_origen+`</td>
                                                        <td>`+msg[num].puerto_destino+`</td>
                                                        <td>`+msg[num].ip_origen+`</td>
                                                        <td>`+msg[num].ip_destino+`</td>
                                                        <td>`+msg[num].tipo+`</td>
                                                        </tr>`;
                                                        $("#cuerpo").append(tr)
                                                        detected=true;
                                                    }
                                                    if (countDos>10){
                                                        var tr = `<tr>
                                                        <td>`+msg[numDos].fecha+`</td>
                                                        <td>`+msg[numDos].puerto_origen+`</td>
                                                        <td>`+msg[numDos].puerto_destino+`</td>
                                                        <td>`+msg[numDos].ip_origen+`</td>
                                                        <td>`+msg[numDos].ip_destino+`</td>
                                                        <td>`+msg[numDos].tipo+`</td>
                                                        </tr>`;
                                                        $("#cuerpo").append(tr)
                                                        detected=true;
                                                    }
                                                    if(detected){
                                                    $("#result").html("");
                                                    $("#result").append('Actividad sospechosa detectada' )
                                                    document.getElementById('result').style.color = 'red'
                                                    document.getElementById('tableAtack').style.visibility = 'visible'
                                                    
                                                    }
                                                    
                                                    
                                                    
                                                });
                                            });
                                        </script>
                    </div>    
                    {% endif %}
                    {% if messages[0].analisisMenu==4 %}
                                        <div class="card text-center ">
                                            <div class="card-header">
                                                <h5 class="card-title" align="center" >RESULTADOS</h5>
                                            </div>
                                        </div>
                                        <div class="card mt-3 " style="height: 75%;">
                                            <div class="row">
                                                <!-- {{messages[0].analisis}}

                                                {{messages[0].analisis[0]}}
                                                {{messages[0].analisis[0].nombre}}
                                                {{messages[0].analisis[1].nombre}} -->
                                                <div class="card-body" style="font-size: 14px">
                                                    <div class="container">
                                                    <p class="card-text">
                                                    Fecha y hora:  {{messages[0].fecha}}<br>
                                                    Total de paquetes analizados:  {{messages[0].paquetes}}
                                                    </p>
                                                    <br>

                                                    <h5 class="card-text" style="text-align: center;">Análisis por paquetes</h5>
                                                    <br>
                                                    <p class="card-text">
                                                     Nombre:                {{messages[0].analisis[0].nombre}}<br>
                                                     Cantidad:              {{messages[0].analisis[0].Cantidad}}
                                                    </p>
                                                    <br>
                                                    
                                                    {% if messages[0].analisis[1].Cantidad>10 %}
                                                    <p class="card-text">
                                                    Nombre:                {{messages[0].analisis[1].nombre}}<br>
                                                    Cantidad:              {{messages[0].analisis[1].Cantidad}}
                                                    </p>
                                                    <br>
                                                    {% endif %}
                                                    {% if messages[0].analisis[2].Cantidad>0 %}
                                                    <p class="card-text">
                                                    Nombre:                {{messages[0].analisis[2].nombre}}<br>
                                                    Cantidad:              {{messages[0].analisis[2].Cantidad}}</p>
                                                    <br>
                                                    {% endif %}
                                                    {% if messages[0].analisis[3].Cantidad>10 %}
                                                    <p class="card-text">
                                                    Nombre:                {{messages[0].analisis[3].nombre}}<br>
                                                    Cantidad:              {{messages[0].analisis[3].Cantidad}}</p>
                                                    <br>
                                                    {% endif %}
                                                    
                                                    <a href="/menu/1/1" >
                                                            <button id=test class="btn btn-primary" type="submit" onclick="location.reload()" style="float: right;padding:5px">Regresar</button>
                                                    </a>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                    {% endif %}
                                        
                                    </div>
                                </div>
                            </div>
                    
                        </div>
                    </div>
        {% endif %}
        {% else %}
                    <div id="informacion" class="container" style="padding: 50px 100px 50px 100px; display: block;">
                        <div class="row">
                            <!-- <div class="col-5" style="background-color: aqua;"> -->
                            <div class="col-5">
                                <img src="../static/images/img_Logo.png"  align="center" style="max-width:100%;">
                            </div>
            
                            <div class="col-2" >
                                <!-- Espacio de separación -->
                            </div>
                            <div class="col-5 align-self-center">
                                <p>
                                    <h2 class="text-center">Información</h2>
                                    MT Analyzer es una aplicación web que se encarga
                                    de escanear el flujo de paquetes de una red en busqueda
                                    algun conflicto provocado por el tráfico de red malicioso.
                                    <br><br>
                                </p>
                                <a href="/menu/3/1" style="color: inherit; text-decoration: none; vertical-align: middle;" >
                                    <div class="zoomCentral" align="center">
                                        <button type="button" class="btn btn-outline-primary">Escanear red</button>
                                    </div>
                                </a>
                            </div>
                        </div>
                    
                    </div>

        {% endif %}
    {% endwith %}
{% endblock %}
{% block card1 %}
    <p class="card-text">Presione Iniciar para comenzar análisis.</p>
    <form action="/reviewInterfaces" method="POST">
        <div class="zoomCentral">
            <button id=test class="btn btn-primary" type="submit">Iniciar</button>
        </div>
    </form>
{% endblock %}


        
