
/************ 
//-------------------------------
// CABECERA
//-------------------------------
************/
#main-header {
	background: #333;
	color: white;
	height: 80px;
	
	width: 100%;
	left: 0;
	top: 0;
	position: absolute;
}	
	#main-header a {
		color: white;
	}
	
	
/*
 * Logo
 */
#logo-header-LOGO {
	float: left;
	position: relative;
	/*background-color: blue;*/

	width: 10%;
	height: 100%;
	padding: 10px;
}

#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #0b76a6;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
	

/*
 * Navegación
 */
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #0b76a6;
				}	

/************
//-----------------------------
// PIE PÁGINA
//-----------------------------
************/
#main-footer {
	float: right;
	width: 100%;

	background: #333;
	color: white;
	text-align: center;
	padding: 20px;
}
	#main-footer p {
		margin: 0;
	}
	
	#main-footer a {
		color: white;
	}
